{% extends 'base.html' %}

{% block title %}
<title>{{ taco.name }}</title>
{% endblock title %}

{% block content %}
{% include '_navbar.html' %}

<section class="container my-5 text-center">
  <h1 class=" taco-title mt-5 mb-0">{{ taco.name }}</h1>
  <p class="text-muted mt-0 mb-5">{{ taco.get_tortilla_display }} - ${{ taco.price }}</p>
  <figure class="text-center">
    <img src="{{ taco.image }}" alt="{{taco.name}}" height="250rem">
  </figure>

  <form method="post">
    {% csrf_token %}
    <div class="form-group d-flex flex-column justify-content-center align-items-center">
      <label for="quantity">Cantidad</label>
      <input type="number" class="form-control quantity-input" name="quantity" min="1" value="1" id="quantity">
      <small id="quantityHelp" class="form-text text-muted">No escatimes en comida.</small>
    </div>
  
    <button class="btn btn-danger">¡Comprar!</button>
  </form>
  
  </div>
</section>
{% endblock content %}
